@import '../../style.scss';

.button {
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;


  &__blue{
    width: 280px;
    height: 37px;
    border: none;
    border-radius: 8px;
    background-color: $blue-color;
    color: $white-color;
    margin-bottom: 10px;
    &:hover {
    cursor: pointer;
  }
  }

  &__clear, &__red {
    border: none;
    background-color: inherit;
    color: $blue-color;
    &:hover {
    cursor: pointer;
  }
  }

   &__clear{
    color: $blue-color;
  }

  &__red {
    color: $red-color-button;
  }
}


