$font: Inter;
$black-color: #1e1e1e;
$grey-color: #999999;
$grey-color-border: #EAEAEA;
$grey-color-fields: #EFEFEF;
$blue-color: #3369f3;
$grey-color-background: #FBFBFB;

.chat-page {
  display: flex;
  height: 100%;
  border: 1px solid $grey-color-border;
}

.left-panel {
  display: flex;
  flex-direction: column;
  max-width: 310px;
  border-right: 1px solid $grey-color-border;
  background-color: $grey-color-background;

  &__chat-header{
    display: flex;
    flex-direction: column;
    height: 100px;
  }
}

.chat-header {
  &__user-profile{
    margin: 21px 10px 23px 0;
    text-align: end;

    &>a {
      font-size: 12px;
      color: #999999;
    }
  }

  &__search{
    margin: 0 10px 14px;

    &-field{
      width: 100%;
      height: 32px;
      text-align: center;
      font-family: $font;
      font-size: 12px;
      color: $grey-color;
      border: none;
      border-radius: 5px;
      background: $grey-color-fields;
      
    }
  }
}