@import "../../style.scss";

.user-page {
  display: flex;
  width: 100%;
  border: 1px solid $grey-color-border;

  &__left-panel {
    display: flex;
    width: 64px;
    height: 100%;
    background-color: $grey-color-background;
    background-image: url("../../../static/img/backArrow.png");
    background-position: center;
    background-repeat: no-repeat;
    border-right: 1px solid $grey-color-border;
  }

  &__main-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }

  &-form__data {
    display: flex;
    flex-direction: column;
    width: 510px;
    margin-bottom: 45px;
  }

  &-form__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 510px;
    gap: 16px;
  }

  &-form__button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 21px;

    &:not(:last-child):after {
      position: absolute;
      content: "";
      width: 510px;
      height: 1px;
      bottom: 0;
      border-bottom: 1px solid $grey-color-border;
    }
  }
}

.data__field {
  display: flex;
  justify-content: space-between;
  height: 34px;
  border-bottom: 1px solid $grey-color-border;
  font-size: 13px;
  line-height: 13px;

  &:last-child {
    border-bottom: none;
  }

  &-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: $grey-color-error;
  }

  &__email, &__body {
    outline: none;
    border: none;
    color: $grey-color;
    text-align: end;
  }
}

.header {
  &__user-image {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 29px;
    width: 130px;
    height: 130px;
    background-color: $grey-color-fields;
    border-radius: 50%;
    background-image: url("../../../static/img/image.png");
    background-position: center;
    background-repeat: no-repeat;

    &_avatar:empty {
      display: none;
    }
  }

  &__username {
    padding-bottom: 41px;
    font-size: 16px;
    color: $grey-color-error;
    font-weight: 600;
  }
}
